a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 1.1rem;
  color: grey;
  padding: 10px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  background-color: #dadada;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.menuOption {
  display: block;
  color: black;
  padding: 18px;
  text-decoration: none;
}
.menuOption:hover {
  cursor: pointer;
}

.menuOption:hover:not(.active) {
  background-color: #4d939c;
  color: white;
}
.active {
  background-color: #4d939c;
  color: white;
}

@media screen and (max-width: 760px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .menuOption {
    float: left;
    padding: 10px;
  }
}
