.containerColor {
  height: 120px;
  margin-top: 20px;
}

.colorInfo {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.colorSwatches {
  display: inline-flex;
  align-items: center;
  padding: 5px;
}
.colorSwatchesContainer {
  display: inline-flex;
  align-items: center;
  width: 400px;
  overflow-x: scroll;
  padding: 5px;
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
  height: 11px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cccccc;
}

.colorCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 6px;
  display: table;
}
.colorCircle:hover {
  cursor: pointer;
}

.colorToggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .colorSwatches {
    width: 90%;
  }
}
