button {
  border-radius: 25px;
  border-style: none;
  margin: 10px;
  padding: 10px 22px;
  color: #ffffff;
  background-color: #4d939c;
  font-size: large;
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: #5ea4ad;
}
input {
  font-size: 1rem;
  border: 2px solid #4d939c;
  border-radius: 25px;
  margin: 10px;
  padding: 8px;
  width: 50%;
}
a:link {
  color: #4d939c;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: #4d939c;
  text-decoration: strong;
}
a:hover {
  color: #bbbbbb;
}
a:active {
  color: #5e939c;
}
code {
  font-family: Consolas, "courier new";
  color: #2b828b;
  background-color: #f1f1f1;
  padding: 2px 6px;
  font-size: 1rem;
  display: block;
  overflow-wrap: anywhere;
  margin: 4px;
  white-space: pre-wrap;
}

.app {
  color: white;
  font-family: Poppins, sans-serif;
}

.subText {
  color: darkgrey;
  font-style: italic;
}

.content {
  margin-left: 240px;
  padding: 1px 16px;
  color: black;
}
.alertMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 4px darkgrey;
  color: black;
  background-color: #dadada;
  font-weight: bold;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

@media screen and (max-width: 760px) {
  .content {
    margin-left: 0;
  }
  .alertMessage {
    top: 140px;
  }
}
